<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swip - Registrarse</title>
    <link rel="stylesheet" href="./css/register.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>

<body>
    <%- include ("./partials/headerMain")%>
        <main>
            <div class="tituloregistro">
                <h4>Editar Perfil</h4>
            </div class="registro">
            
                            <form action="/editProfile/<%= userToEdit.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                            <div class="registrarse">
                                <div class="nombreregistro">
                                    <label for="nombres">Nombre</label>
                                </div>
                                <div class="nombreregistro">
                                    <input type="text" name="nombres" value="<%= userToEdit.nombres %> ">
                                </div>
                                <% if (locals.errors && errors.nombres) { %>
                                    <div class="texto-error">
                                        <%= errors.nombres.msg %>
                                    </div>
                                    <% } %>
                                        <div class="apellidosregistro">
                                            <label for="apellidos">Apellidos</label>
                                        </div>
                                        <div class="apellidosregistro">
                                            <input type="text" name="apellidos" value="<%= userToEdit.apellidos %> ">
                                        </div>
                                        <% if (locals.errors && errors.apellidos) { %>
                                            <div class="texto-error">
                                                <%= errors.apellidos.msg %>
                                            </div>
                                            <% } %>

                                        <div class="avatar">
                                            <h4 class="title">Elije tu foto</h4>
                                            <input type="file" name="avatar" class="avatar-profile" id="foto-Profile">
                                        </div>

                                        <div class="botonregistro">
                                            <button type="iniciosesion" class="boton-registro">Editar Perfil</button>
                                        </div>
                                        

                            </div>
                            </form>
        </main>

    
</body>
<%- include ("./partials/footer")%>

</html>