<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/formStyles.css">
    <title>Creacion y Edicion de productos</title>
</head>
<%- include ("./partials/headerMain")%>

    <body>
        <form action="/store" method="POST" enctype="multipart/form-data">

            <div class="formulario">
                <h3 class="title">Creaci칩n de Nuevos Productos</h3>
                <div class="inputs-1">
                    <label for="nombreProducto">Nombre </label>
                    <input type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto"
                        required>
                </div>
                <div class="inputs-2">
                    <label for="descripcion">Descripci칩n </label>
                    <input type="text" name="descripcion" id="descripcion" placeholder="Descripci칩n" required>
                </div>
                <div class="inputs-3">
                    <label for="categoria">Categoria:</label>
                    <select name="Categorias" id="category" class="form-input">
                        <% for (let i=0; i < Category.length; i++) { %> 
                            <option value="<%=Category[i].id%>">
                                <%= Category[i].nombre %> 
                            </option>
                        <% } %> 
                    </select>
                </div>
                <div class="inputs-4">
                    <h4 class="title">Elije la foto del producto</h4>
                    <input type="file" name="imagen" class="productos" id="fotoProducto">
                </div>

                <div class="inputs-5">
                    <h4>Tallas</h4>
                    <div class="tama침os">
                        <% for (let i=0; i < Size.length; i++) { %> 
                        <div>
                            <label for=<%= Size[i].talla %>>
                                <input type="radio" name=talla value=<%= Size[i].talla %> class="tallas" id=<%= Size[i].talla %>>
                                <%= Size[i].talla %></label>
                        </div>
                        <% } %>
                        
                        <div class="inputs-6">
                            <label for="precio">Precio</label>
                            <input type="number" name="precio" id="precio" placeholder="precio $" required>
                        </div>

                    </div>
                </div>
                <br>
                <br>

                <button type="submit">Crear Producto</button>
                <button type="reset">Borrar</button>
                <br>
                <br>
            </div>
        </form>
    </body>
    <%- include ("./partials/footer")%>
</html>