<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.8/js/brands.js" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js" rel="stylesheet"></script> 
    <link href="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js" rel="stylesheet"> </script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    
</head>
<body>
    <%- include("./partials/headerMain") %>
    <main>
    <%- include("./partials/headerNavBar") %>
    <div class="product-container">
        <h3>Nombre : <%= Product.nombre %> </h3>
        <h4>Talla : <%=Product.sizes.talla%> </h4>
        <img src="/images/store/<%=Product.imagen%>">
        <p> $<%= (Product.precio) %></p>
        <p><%= (Product.descripcion) %></p>
        <button class="button-buy">Comprar</button>
        <a href="/edit/<%= Product.id %> ">
        <button class="button-buy">editar</button>
        </a>
        <form action="/delete/<%= Product.id %> " method="POST">
            <button type="submit" class="button-buy">borrar</button>
            </form>
    </div> 
    
    </main>
    <%- include("./partials/footer")%>
</body>
</html>