<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<%- include("./partials/headerMain") %>
    <%- include ("./partials/headerNavBar")%>
        <body>

            <div class="product-container">
                <h3>Hola <%= locals.user.nombres%> </h3>
                <img class="imagenes" src="/images/avatars/<%=locals.user.avatar%>">
                
                <a href="/editProfile/<%= locals.user.id %> ">
                    <button class="button-buy">editar</button>
                    </a>
                <form action="/deleteProfile/<%= locals.user.id %> " method="POST">
                    <button type="submit" class="button-buy">borrar</button>
                    </form>
                <form action="/logout/">
                        <button type="submit" class="button-buy">Cerrar Sesion</button>
                        </form>
            </div> 

            

                    


        </body>
        <%- include ("./partials/footer")%>

</html>