<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <title>Store</title>
    <link rel="stylesheet" href="/css/store.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/js/brands.js" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js" rel="stylesheet">
    </script>
    <link href="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js" rel="stylesheet">
    </script>

</head>
<%- include ("./partials/headerMain")%>
    <%- include ("./partials/headerNavBar")%>

        <body>
            <div class="store-encabezado">
                <h2> STORE</h2>
            </div>

            <div class="store-subtitulo">
                <h3 id="hoodies">HOODIES</h3>
            </div>

            <div class="page-products">
                <% for(let i=0; i < Product.length; i++){ %>
                    <div class="product-container">
                        <div class="nombre">
                            <h3> <a href="/productDetail/<%=Product[i].id%>">
                                    <%=Product[i].nombre%>
                                </a></h3>
                        </div>
                        <div class="talla-disponible">
                            <h4>Talla | <%=(Product[i].sizes.talla)%>
                            </h4>
                        </div>
                        <img src="/images/store/<%=Product[i].imagen%>">
                        <div>
                            <p class="precio"> $ <%=(Product[i].precio)%> COP</p>
                            <p class="descripcion">
                                <%=(Product[i].descripcion)%>
                            </p>
                        </div>
                        <button class="button-buy">Comprar</button>
                    </div>
                    <% } %>
            </div>
        </body>
        <!-- <%- include ("./partials/footer")%> -->

</html>